@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@keyframes pulse {
  0% {
    background-position: 50% 50%;
    background-size: 150% 150%;
  }
  25% {
    background-position: 50% 50%;
    background-size: 175% 175%;
  }
  50% {
    background-position: 50% 50%;
    background-size: 200% 200%;
  }
  100% {
    background-position: 50% 50%;
    background-size: 150% 150%;
  }
}


body {
  background: radial-gradient(circle, #d227ad, #581659, #2541b2);
  background-size: 200% 200%;
  animation: pulse 20s ease-in-out infinite;
  min-height: 100vh;
}
